@WebSocketGateway()
export class SearchGateway {

  @SubscribeMessage('GET_WATER')
  async onEvent(client, data: any): Promise<any> {
    return {
      event: 'SERVE_WATER',
      data: { id: '1', type: 'sparkling', taste: 'lemon' },
    };
  }
}
