const io = socketServer(server);

io.on("connection", (socket) => {
  console.log("Connected to Socket!!" + socket.id);

  socket.on("GET_WATER", payload => {
    const water = { id: "1", type: "sparkling", taste: "lemon" };
    io.emit("SERVE_WATER", water);
  });
});

server.listen(3000, () => {
  console.log(`Beverage server is listening on port ${port}!`);
});
