import { Module } from '@nestjs/common';
import { MongooseModule } from '@nestjs/mongoose';
import { TeaModule } from './tea/tea.module';

@Module({
  imports: [TeaModule],
  controllers: [],
  providers: [],
})
export class AppModule {}
