import { Controller, Get } from '@nestjs/common';
import { TeaService } from './tea.service';
import { Tea } from './tea';

@Controller()
export class TeaController {
  constructor(private readonly teaService: TeaService) {}

  @Get('/tea')
  getAllTeas(): Promise<Tea[]> {
    return this.teaService.getAllTeas();
  }
}
