import { Injectable } from '@nestjs/common';
import { Model } from 'mongoose';
import { InjectModel } from '@nestjs/mongoose';
import { Tea } from './tea';

@Injectable()
export class TeaService {
  private readonly teas: Tea[] = [];

  async getAllTeas(): Promise<Tea[]> {
    this.teas.push({  
        name:'earl grey',
        type:'black',
        steepingTime:'3min'
    });
    return Promise.resolve(this.teas);
  }
}
